/*.timeline-container {
    width: 100%;
}*/


.keytime-editor-container {
	font-family: 'Geneva', sans-serif;
	font-size: 12px;
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
	color: #161616;
	left: 0;
		
	overflow-y: scroll;
	max-height: 150px;
	border-top: 1px solid #b0b0b0;
}

/*
	Editors
 */

.hide {
	display: none;
}

.number-editor {
	width: 40px;
	font-family: 'Courier New', monospace;
	font-size: 11px;
	letter-spacing: 0;
	border: 0;
	text-align: right;
	color: #4e5c60;
	font-weight: bold;
	border-bottom: 1px dotted #4e5c60;
	background: transparent;
	margin-right: 5px;
	margin-left: 5px;
	position: relative;
	bottom: 2px;
}

/*

 */

.playhead {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background: #e82121;
	box-shadow: 0 0 0 0.5px #e82121;
	opacity: 0.5;
	width: 1px;
	height: 100%;
	pointer-events: none;
}

.keyframe {
	position: absolute;
	top: 10px;
	cursor: ew-resize;
	left: 0;
	margin: -4px 0 0 -4px;
	padding: 0;
	display: inline-block;
	border-radius: 50% 50%;
	color: #72aab8;
	width: 8px;
	height: 8px;
}

/*
	Generic
 */

.timeline-row {
	line-height: 22px;
}

.timeline-layer {
	line-height: 22px;
}

.animations-layer {
	line-height: 22px;
}
.timeline-layer:nth-child(odd), .animations-layer:nth-child(even) { 
    background-color:#dcdcdc; 
}
.timeline-layer:nth-child(even), .animations-layer:nth-child(odd) { 
    background-color:#c5c5c5; 
}
.animations-layer {
	/*width: 200%;*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/**
 * timeline
 */

.timeline-container, .animations-container {
	width: 50%;
	position: relative;
	display: inline-block;
	vertical-align: top;
	overflow-x: scroll;
	overflow-y: hidden;
	box-sizing: border-box;
	/*border: 1px solid #b0b0b0;*/
}
.animations-container {
	cursor: default;
}
.timeline-container {
	border-right: 1px solid #b0b0b0;
}


.timeline-header {
	display: inline-block;
	width: 100%;
	height: 22px;
}
.animations-header {
	display: inline-block;
	width: 100%;
}

.timeline-header > .buttons {
	float: right;
	display: inline-block;
}


/*.timeline-layer:nth-child(odd) { 
    background-color:#dcdcdc; 
}
.timeline-layer:nth-child(even) { 
    background-color:#c5c5c5; 
}*/

.timeline-control, .animations-control {
	height: 22px;
	position: relative;
	background: white;
	padding-left: 5px;
	padding-right: 5px;
 	border-top: 1px solid #b0b0b0;
}

.controls:first-child {
	border-top: 0;
}

.timeline-control > .name {
	position: relative;
	top: -1px;
	left: 5px;
	display: inline-block;
}

.keyframe-previous, .keyframe-next, .keyframe-toggle {
	font-size: 10px;
	cursor: pointer;
}



.expand, .lock, .visible, .solo {
	font-size: 12px;
	line-height: 22px;
	cursor: pointer;
}

.expand {
	padding-left: 5px;
}
.visible {
	padding-right: 5px;
}

.controls, .animations-control {
	display: none;
}

.control-editor {  
	float: right;
	text-align: right;
}

.timeline-layer.layer-open > .controls {
	display: block;
}

.animations-layer.layer-open > .animations-control {
	display: block;
}

.layer-open > .timeline-header > .expand {
	font-weight: bold;
}


.highlight {
	background-color: #f8f8f8;
}
.keyframe.highlight {
	color: #dd3f3f;
}

